# To read contents of the .env file
python-dotenv

# To process CSV 
pandas

# To use requests / make API calls
requests

# To build web app
Flask

#To send emails
sendgrid

#To install Pytest
pytest

#To install Gunicorn for Heroku
gunicorn