{% extends "layout.html" %}

{% block content %}

    <h2>Movie Selection Survey</h2>

    <p>Find a new movie without the hassle of scrolling through endless streaming services!</p>

    <form action="/movie/results" method="POST">

        <label>Select a Genre:</label>
        <input type="text" name="input_genre" placeholder="horror" value="horror">
        <br>

        <label>New Movie? (Y/N):</label>
        <input type="text" name="input_age" placeholder="Y" value="Y">
        <br>

        <label>Block Buster Film? (Y/N):</label>
        <input type="text" name="input_block" placeholder="Y" value="Y">
        <br>

        <button>Submit</button>
    </form>

{% endblock %}